@tailwind base;
@tailwind components;
@tailwind utilities;

/* Copperplate Gothic Standard AB and BC fonts */
@font-face {
  font-family: 'Copperplate Gothic';
  src: url('./assets/fonts/Copperplate-Gothic-Std-29-AB.ttf') format('truetype');
  font-weight: 400; /* Normal weight */
}

@font-face {
  font-family: 'Copperplate Gothic';
  src: url('./assets/fonts/Copperplate-Gothic-Std-29-BC.ttf') format('truetype');
  font-weight: 600; /* Semi-bold weight */
}

@font-face {
  font-family: 'Copperplate Gothic';
  src: url('./assets/fonts/Copperplate-Gothic-Std-30-AB.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Copperplate Gothic';
  src: url('./assets/fonts/Copperplate-Gothic-Std-30-BC.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Copperplate Gothic';
  src: url('./assets/fonts/Copperplate-Gothic-Std-31-AB.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Copperplate Gothic';
  src: url('./assets/fonts/Copperplate-Gothic-Std-31-BC.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Copperplate Gothic';
  src: url('./assets/fonts/Copperplate-Gothic-Std-32-AB.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Copperplate Gothic';
  src: url('./assets/fonts/Copperplate-Gothic-Std-32-BC.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Copperplate Gothic';
  src: url('./assets/fonts/Copperplate-Gothic-Std-33-AB.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Copperplate Gothic';
  src: url('./assets/fonts/Copperplate-Gothic-Std-33-BC.ttf') format('truetype');
  font-weight: 600;
}

/* Applying the font to the body element or other elements as needed */
body {
  font-family: 'Copperplate Gothic', sans-serif;
  color: white;
}


html {
  scroll-behavior: smooth;
}


.bg-home {
  background-position: bottom;
  background-image: url(/src/assets/backgrounds/new.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-justice {
  background-position: bottom;
  background-image: url(/src/assets/backgrounds/home.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-advocacy {
  background-position: bottom;
  background-image: url(/src/assets/backgrounds/about.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-heart {
  background-position: bottom;
  background-image: url(/src/assets/backgrounds/appointment.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-power {
  background-position: bottom;
  background-image: url(/src/assets/backgrounds/service.png);
  background-repeat: no-repeat;
  background-size: cover;
}



.bg-about {
  background-position: bottom;
  background-image: url(/src/assets/backgrounds/about.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-service {
  background-position: bottom;
  background-image: url(/src/assets/backgrounds/service.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-contact {
  background-position: bottom;
  background-image: url(/src/assets/backgrounds/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-appointment {
  background-position: bottom;
  background-image: url(/src/assets/backgrounds/appointment.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-appointmentt {
  background-image: 
  linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
  url('/src/assets/backgrounds/appointment.png');
  background-repeat: no-repeat;
  background-size: cover;
}
